/* =============================================== */
/* =============================================== */
/* ================== CSS Reset ================== */
/* =============================================== */
/* =============================================== */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

button {
    background-color: #ffffff;
}

button:focus {
    outline:0;
}

button, li {
    cursor: pointer;
}

body, html{
    background-color: white;
    width: 100%;
}

h1{
    text-align: center;
}
/* =============================================== */
/* =============================================== */
/* ================ Navigation Bar =============== */
/* =============================================== */
/* =============================================== */
.nav-bar {
    width: 100%;
    box-shadow: inset 0 -6px 0 #1e1e1e;
    background-color: #292929

}

.nav-bar .main-editor-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo{
    margin-right: 20px;
}

.logo-header {
    display: flex;
    line-height: 110px;
    color: #ffffff;
}

.logo-capitalize {
    letter-spacing: -0.8px;
}

.logo-dot {
    color: #58c93a;
    letter-spacing: -0.8px;
}

.nav-bar-menu {
    /* display: inline-block; */
    /* display: flex; */

}

.flex{
    display: flex;
}

.menu-item {
    float: left;
    display: inline-block;
    color: #ffffff;
    text-shadow: 0 1px 0 #1e1e1e;
    width: 132px;
    line-height: 110px;
    text-align: center;
    box-shadow: -1px 0 0 #1d1d1d, inset -1px 0 0 #1d1d1d;

}

.menu-item:hover {
    color: #58c93a;
}

.menu-item.active {
    color: #58c93a;
    box-shadow: -1px 0 0 #1d1d1d, inset 0 -6px 0 #58c93a;
}
/* =============================================== */
/* =============================================== */
/* ================= Meme Gallery ================ */
/* =============================================== */
/* =============================================== */
.main-gallery-container{
    display: flex;
    justify-content: space-between;
    height: 110px;
    width: auto;
    padding: 10px;
    margin: 0 auto;
}

.gallery-meme{
    float: left;
    margin: 5px;
    width: 120px;
    height: 120px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    /* object-fit: contain; */
    object-position: 50% 50%;
}

#gallery-memes img{
    width: 120px;
    height: 120px;
}

#gallery-memes img:hover{
    opacity: 0.8;
}

.search-bar{
    display: flex;
    justify-content: center;
}
/* =============================================== */
/* =============================================== */
/* ==================== Editor =================== */
/* =============================================== */
/* =============================================== */
.posts .main-editor-container {
    border: 1px solid #e1e0e0;
}

.editor-page-container {
    margin: 0 auto;
    display: block;
    align-content: center;
}


.row-editor, .download-meme-button, .meme-canvas {
    margin: 10px;
}

.row-editor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #4f4e4e;
    line-height: 30px;
    text-transform: uppercase;
    border-radius: 25px;
    border: 2px solid #58c93a;
    padding: 10px;
}

.row-editor label {
    text-align: center;
    color: #58c93a;
}

.row-editor input {
    display: block;
    margin-bottom: 20px;
    line-height: 20px;
    border: 1px solid #58c93a;
    color: #58c93a;
}

.row-editor input::placeholder {
    color: #58c93a;
    opacity: 0.5;
}

.row-editor-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-editor-btn {
    color: #58c93a;
    border-radius: 5px;
    text-align: center;
}

.dropdown-select-line-container {
    position: relative;
    display: inline-block;
}

/* Show the dropdown menu on hover */
.dropdown-select-line-container:hover .dropdown-select-line-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-select-line-container:hover .dropdown-select-line-btn img {
    background-color: #3e8e41;
    background-size: unset;
}

.dropdown-select-line-btn img, .row-editor-btn img {
    height: 40px;
    width: 40px;
    /* object-fit: contain; */
    object-position: 50% 50%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-select-line-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 40px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-select-line-content button {
    color: black;
    /*padding: 12px 16px;*/
    text-decoration: none;
    display: block;
    width: 40px;
    cursor: pointer;
    background-color: #f1f1f1;
}

/* Change color of dropdown links on hover */
.dropdown-select-line-content button:hover img{
    background-color: #3e8e41;
}

.download-meme-button {
    width: 186px;
    line-height: 40px;
    color: #58c93a;
    border: 2px solid #58c93a;
    border-radius: 40px;
    text-align: center;
}

.download-meme-button:hover{
    background-color: green;
}
/* =============================================== */
/* =============================================== */
/* ==================== Helpers ================== */
/* =============================================== */
/* =============================================== */
.display-none {
    display: none;
}

/* =============================================== */
/* =============================================== */
/* ==================== Fonts ==================== */
/* =============================================== */
/* =============================================== */
@font-face {
    font-family: 'eurofurence-eurof35';
    src: url("../font/eurof35.ttf");
}

.font-logo {
    font-family: 'eurofurence-eurof35', Fallback, sans-serif;
    font-size: 2.5rem;
}

.font-logo-regular {
    font-weight: 400;
}

.font-logo-bold {
    font-weight: 700;
}


.font-lato {
    font-family: 'Lato', sans-serif;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-400 {
    font-weight: 400;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-21 {
    font-size: 18px;
}

.font-size-28 {
    font-size: 28px;
}

.fas.fa-bars{
    position: fixed;
    top:50px;
    right:33px;
    color: white;
    display:none;
    font-size: 30px;
    cursor: pointer;
}


@media(max-width:800px){
    .nav-bar-menu{
        flex-direction: column;
        position: absolute;
        top:143px;
        right: 0;
        display: none;
        background: #1e1e1e;
        z-index: 1;
        height: 100vh;
    }
    .menu-item{
        padding: 10px 10px;
        border: none;
        width: 100vw;


    }
    .fas.fa-bars{
        display: block;
        /* position: fixed;
        top:52px;
        right:33px;
        color: white;
        font-size: 30px;
        cursor: pointer; */
    }


}

.show{
    display: flex;
}
